<!-- views/userProfile.ejs -->
<!doctype html>
<html>
<head>
    <title>CitySmart - User Profile</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="../css/style_final.css" type="text/css">
    <link rel="stylesheet" href="../css/multi-select.css" media="screen" type="text/css">-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../3rdPartyLibs/jquery-validation-1.17.0/demo/css/screen.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="../3rdPartyLibs/jquery-3.3.1.min.js"></script>
    <script src="../3rdPartyLibs/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/all.fine-uploader/all.fine-uploader.min.js"></script>
    <script src="../3rdPartyLibs/jquery.multi-select.js"></script>
    <script src="../3rdPartyLibs/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld7fq8UAAAAAOv8ZEiVj6P972pR_Vf3ko5R0JB_"></script>
    <?php include 'reCaptcha.php';?>
    <style>
        body { padding-bottom:80px; word-wrap:break-word; }
        #clear{
            background-color: white;
            width: 105px;
            height: 60px;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color: #31a0ba;
            border-color: #31a0ba;
            margin-left:6px;
        }
        #clear:hover {
            background-color: #31a0ba;
            color: white;
        }
        #submit{
            background-color: #31a0ba;
            width: 700px;
            height: 60px;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color:white;
        }
        #submit:hover{
            background-color: #ff758f;
            color:white;
        }
        .button2 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: lightgray;
            color: #ffffff;
        }

        #checkit{
            width: 250px;
            height: 50px;
            border-radius:15px;
            font-size:16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            color:white;
        }
        input[type="text"] {
            height: 60px;
        }
        input[type="password"] {
            height: 60px;
        }
        #capsWarning {
            color: red;
            text-align: center;
        }
    </style>

</head>
<div class="navul" style="height: 80px;
    background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 80px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 550px;
    height: 80px;
    margin: auto; display: block;" />
    </a>
</div>
<body ononline="onFunction()" onoffline="offFunction()">

<div class="container" style="width: 850px;">
    <h1 class="text-center page-header"><strong>User Profile</strong></h1>
    <div class="generalForm">
        <form id="basic"  class="well form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label">Username (Email Address):</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="username" name="username" class="form-control" value="<%= user.username %>" placeholder="<%= user.username %>" type="text" onchange="SearchUsername(this.value)" minlength="2" maxlength="99" autofocus required>
                        </div>
                        <p style="margin-top:8px;color:#0088d8;" id="emailc"></p>
                        <p id="emailUser" style="text-align: center; color: palevioletred; margin-top:15px;"></p>
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">First Name:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="firstName" name="firstName" class="form-control" value="" type="text" minlength="1" maxlength="99" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="lastName" name="lastName" class="form-control"  value="" type="text" minlength="1" maxlength="99" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Address Line 1:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="Address_Line1" placeholder="Street address, P.O. box, company name, c/o" class="form-control" value="" type="text" maxlength="42">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Address Line 2:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine2" name="Address_Line2" placeholder="Apartment, suite, unit, building, floor, etc." class="form-control" value="" type="text" maxlength="42"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">City:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="city" name="City" class="form-control" value="" type="text" maxlength="42"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">State/Province/Region:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="state" name="State_Province_Region" class="form-control" value="" type="text" maxlength="42"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Postal Code/ZIP:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="postcode" name="PostalCode_ZIP" class="form-control" value="" type="text" maxlength="5"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Country:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="country" name="Country" class="form-control" value="" type="text" maxlength="42"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Phone Number:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input id="phoneNumber" name="Phone_Number" class="form-control" value="" type="text" onkeypress="isInputNumber (event)" placeholder="0000000000" maxlength="10" pattern="[0-9]{10}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Security Question #1:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select id="q1" name="question1" class="form-control" style="height: 60px;" required>
                                <option value="" disabled selected>SELECT SECURITY QUESTION</option>
                                <option value="In what city or town did your mother and father meet?">In what city or town did your mother and father meet?</option>
                                <option value="What is the middle name of your oldest child?">What is the middle name of your oldest child?</option>
                                <option value="What was your favorite food as a child?">What was your favorite food as a child?</option>
                                <option value="What is the last name of the boy or girl that you first kissed?">What is the last name of the boy or girl that you first kissed?</option>
                                <option value="What was the name of the hospital where you were born?">What was the name of the hospital where you were born?</option>
                                <option value="Who was your childhood hero?">Who was your childhood hero?</option>
                                <option value="What was the last name of your third grade teacher?">What was the last name of your third grade teacher?</option>
                                <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                                <option value="What\’s your parent\’s birthday?">What’s your parent’s birthday?</option>
                                <option value="What was the name of your second pet?">What was the name of your second pet?</option>
                                <option value="Where were you on New Year\’s Eve in 2000?">Where were you on New Year’s Eve in 2000?</option>
                                <option value="What was your favorite sport in high school?">What was your favorite sport in high school?</option>
                                <option value="What is the name of your best friend from childhood?">What is the name of your best friend from childhood?</option>
                                <option value="When you were young, what did you want to be when you grew up?">When you were young, what did you want to be when you grew up?</option>
                                <option value="What was the name of your first teacher?">What was the name of your first teacher?</option>
                                <option value="What is the name of your manager at your first job?">What is the name of your manager at your first job?</option>
                                <option value="What is your youngest sibling’s birthday?">What is your youngest sibling’s birthday?</option>
                                <option value="What was your first job?">What was your first job?</option>
                                <option value="What was the make of your first car?">What was the make of your first car?</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Answer:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="answer1" id="answer1" minlength="1" maxlength="200" spellcheck="true" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Security Question #2:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select id="q2" name="question2" class="form-control" style="height: 60px;" required>
                                <option value="" disabled selected>SELECT SECURITY QUESTION</option>
                                <option value="In what city or town did your mother and father meet?">In what city or town did your mother and father meet?</option>
                                <option value="What is the middle name of your oldest child?">What is the middle name of your oldest child?</option>
                                <option value="What was your favorite food as a child?">What was your favorite food as a child?</option>
                                <option value="What is the last name of the boy or girl that you first kissed?">What is the last name of the boy or girl that you first kissed?</option>
                                <option value="What was the name of the hospital where you were born?">What was the name of the hospital where you were born?</option>
                                <option value="Who was your childhood hero?">Who was your childhood hero?</option>
                                <option value="What was the last name of your third grade teacher?">What was the last name of your third grade teacher?</option>
                                <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                                <option value="What\’s your parent\’s birthday?">What’s your parent’s birthday?</option>
                                <option value="What was the name of your second pet?">What was the name of your second pet?</option>
                                <option value="Where were you on New Year\’s Eve in 2000?">Where were you on New Year’s Eve in 2000?</option>
                                <option value="What was your favorite sport in high school?">What was your favorite sport in high school?</option>
                                <option value="What is the name of your best friend from childhood?">What is the name of your best friend from childhood?</option>
                                <option value="When you were young, what did you want to be when you grew up?">When you were young, what did you want to be when you grew up?</option>
                                <option value="What was the name of your first teacher?">What was the name of your first teacher?</option>
                                <option value="What is the name of your manager at your first job?">What is the name of your manager at your first job?</option>
                                <option value="What is your youngest sibling’s birthday?">What is your youngest sibling’s birthday?</option>
                                <option value="What was your first job?">What was your first job?</option>
                                <option value="What was the make of your first car?">What was the make of your first car?</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Answer:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="answer2" name="answer2" minlength="1" maxlength="200" spellcheck="true" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">User Role:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" style="background:#e6e6e6;" value="<%= user.userrole%>" readonly></div>
                        <!--<h4 id="userrole" class="floating-Box"><strong>User Role:&nbsp;&nbsp;</strong></h4>-->
                    </div>
                </div>
                <div class="form-group" id="dateCreated">
                    <label class="col-md-4 control-label">Date Created:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <input class="form-control" type="text" style="background:#e6e6e6;" value="<%= user.dateCreated %>" readonly></div>
                        <!--<h4 id="userrole" class="floating-Box"><strong>User Role:&nbsp;&nbsp;</strong></h4>-->
                    </div>
                </div>
                <div class="form-group" id="lastModification">
                    <label class="col-md-4 control-label">Last Modification:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <input class="form-control" type="text" style="background:#e6e6e6;" value="<%= user.dateModified %>" readonly></div>
                        <!--<h4 id="userrole" class="floating-Box"><strong>User Role:&nbsp;&nbsp;</strong></h4>-->
                    </div>
                </div>
                <div class="form-group" id="lastModified">
                    <label class="col-md-4 control-label">Last Modified by:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                            <input class="form-control" type="text" style="background:#e6e6e6;" value="<%= user.username%>" readonly></div>
                        <!--<h4 id="userrole" class="floating-Box"><strong>User Role:&nbsp;&nbsp;</strong></h4>-->
                    </div>
                </div>
            </fieldset>
            <input type="hidden" id="token">
        </form>
    </div>
    <p style="font-size:15px">
        <label for="password" >Do you want to change your password?</label>
        <input type="checkbox" id="password" name="password" onclick="changePass()">
    </p>
    <h3 id="passTitle" class="text-center page-header" style="display: none">Password Change</h3>
    <div class="generalForm">
        <form id="pswchange" style="display:none;" class="well form-horizontal">
            <fieldset>
                <p id="capsWarning" hidden><strong>WARNING: Caps lock is enabled.</strong></p>
                <div class="form-group">
                    <label class="col-md-4 control-label">Current Password:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <span toggle="#currentPassword" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right; margin-top: 20px"></span>
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="currentPassword" name="CurrentPassword"  class="form-control" value="" type="password" maxlength="99"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">New Password:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <span toggle="#newPassword" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right; margin-top: 20px"></span>
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="newPassword" name="NewPassword" class="form-control" value="" type="password" minlength="8" maxlength="99"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Confirm New Password:</label>
                    <div class="col-md-8 inputGroupContainer">
                        <span toggle="#confirmPassword" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right; margin-top: 20px"></span>
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="confirmPassword" name="ConfirmNewPassword" class="form-control" value="" type="password" minlength="8" maxlength="99"></div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" id="token">
        </form>
        <!--            <button id="checkit" class="btn-primary" style="display:none; margin-top:-85px; margin-left:550px;" onclick="check()">Check</button>-->
    </div>

    <div>
        <button id="submit" type="submit" value="Submit" onclick="submitForm();">Save Changes</button>
        <button id="clear" type="button" onclick="clearForm();" value="Clear">Clear</button>
        <hr>
        <p class="text-center"><a id="cancel" onclick="userHome();">Cancel</a></p>
    </div>
</div>
<script>
    let UserName = "<%= user.username %>";
    let passwordC = "<%= user.password %>";
    let newusername;
    let CurrPassword = document.getElementById("currentPassword");
    let NewPassword = document.getElementById("newPassword");
    let ConfirmPassword = document.getElementById("confirmPassword");
    let capsWarning = document.getElementById("capsWarning");

    CurrPassword.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    CurrPassword.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });
    NewPassword.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    NewPassword.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });
    ConfirmPassword.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    ConfirmPassword.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });

    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye-slash fa-eye");
        let input = $($(this).attr("toggle"));
        if (input.attr("type") === "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });


    // let getvalue = JSON.parse(localStorage.getItem("getvalue"));
    // document.getElementById('username').value = getvalue[0];
    // document.getElementById('firstName').value = getvalue[1];
    // document.getElementById('lastName').value = getvalue[2];

    let userN = "userN=" + UserName;

    $.ajax({
        url: "/profile",
        dataType: 'json',
        data: userN,
        success: function (results) {
            // console.log(results);
            newusername = results;
            // for(let i =0; i< results.length; i++) {
            // console.log(results[i].username);
            // if (results[i].username === UserName) {
            document.getElementById('firstName').value = results[0][0].firstName;
            document.getElementById('lastName').value = results[0][0].lastName;
            document.getElementById('addressLine1').value = results[0][0].Address_Line1;
            document.getElementById('addressLine2').value = results[0][0].Address_Line2;
            document.getElementById('city').value = results[0][0].City;
            document.getElementById('state').value = results[0][0].State_Province_Region;
            document.getElementById('postcode').value = results[0][0].PostalCode_ZIP;
            document.getElementById('country').value = results[0][0].Country;
            document.getElementById('phoneNumber').value = results[0][0].Phone_Number;
            document.getElementById('q1').value = results[1][0].question1;
            document.getElementById('q2').value = results[1][0].question2;
            document.getElementById('answer1').value = results[1][0].answer1;
            document.getElementById('answer2').value = results[1][0].answer2;

            document.getElementById('firstName').placeholder = results[0][0].firstName;
            document.getElementById('lastName').placeholder = results[0][0].lastName;
            document.getElementById('answer1').placeholder = results[1][0].answer1;
            document.getElementById('answer2').placeholder = results[1][0].answer2;

            // }
            // }
        }
    })


    let UserRole = "<%= user.userrole %>";

    $(document).ready(function(){
        if (UserRole === "Admin") {
            document.getElementById('dateCreated').style.display = 'block';
            document.getElementById('lastModification').style.display = 'block';
            document.getElementById('lastModified').style.display = 'block';
        } else if ( UserRole === "Regular") {
            document.getElementById('dateCreated').style.display = 'none';
            document.getElementById('lastModification').style.display = 'none';
            document.getElementById('lastModified').style.display = 'none';
        }

    });

    function userHome() {
        if (confirm("Are you sure you want to leave this page? Changes will not be saved.") === true) {
            window.location.replace('/userHome')
        }
    }

    function clearForm(){
        if (confirm("Are you sure you want to leave this page? All data will be cleared accordingly.") === true) {
            document.getElementById("basic").reset();
            document.getElementById("pswchange").reset();
        }
    }

    let password = $("#password");
    let initial = password.is(":checked");
    let change = $("#password_change")[initial ? "removeClass" : "addClass"]("gray");
    let changeInputs = change.find("input").attr("disabled", !initial);

    password.click(function(){
        change[this.checked ? "removeClass" : "addClass"]("gray");
        changeInputs.attr("disabled", !this.checked);
    });

    $('#pswchange').validate({
        'newPassword': {
            presence: true,
            length: {
                minimum: 8
            }
        }
    });

    function changePass(){
        let checkbox = document.getElementById("password");
        let text = document.getElementById("pswchange");
        let title = document.getElementById("passTitle");

        if (checkbox.checked === true){
            text.style.display = "block";
            title.style.display = "block";
            // alert("Please verify your password(s) by clicking \"Check\" before clicking update.");
            alert("Please also verify that your current password is correct and your two new passwords match before submitting.");

        } else{
            text.style.display = "none";
            title.style.display = "none";
        }
    }

    function submitForm () {
        let checkbox = document.getElementById("password");
        let data = $("#basic").serialize() + "&" + $("#pswchange").serialize();
        let currentPassword = document.getElementById("currentPassword").value;

        if (checkbox.checked === true) {
            let oldP = document.getElementById("currentPassword").value;
            let newP = document.getElementById("newPassword").value;
            let confirmP = document.getElementById("confirmPassword").value;
            let userProfileData = "username=" + UserName + "&pass=" + document.getElementById("currentPassword").value;
            console.log("pass:" + newP);
            $.ajax({
                url: '/checkpassword',
                method: "POST",
                data: userProfileData,
                dataType: 'json',
                success: function (d) {
                    if (d === true) {
                        alert("Please make sure you typed your current password correctly.");
                    } else if (d === false) {
                        if (oldP !== "" && confirmP !== "" && newP !== "") {
                            if (oldP !== newP) {
                                if (newP === confirmP) {
                                    $.ajax({
                                        url  : '/userProfile',
                                        method : "POST",
                                        data : data,
                                        dataType: 'json',
                                        success : function(d){
                                            if (d.error) {
                                                alert(d.message);
                                            } else {
                                                alert("Changes were saved!");
                                                if(oldP !== ""){
                                                    window.location.replace('/login');
                                                }else{
                                                    window.location.replace('/userHome');
                                                }
                                            }
                                        }
                                    });
                                } else {
                                    alert("New passwords do not match!");
                                }
                            } else {
                                alert("Your new password should be different from your current password.");
                            }
                        } else {
                            alert("All password fields are required.");
                        }
                    }
                }
            });
        } else {
            $.ajax({
                url  : '/userProfile',
                method : "POST",
                data : data,
                dataType: 'json',
                success : function(d){
                    if (d.error) {
                        alert(d.message);
                    } else {
                        alert("Changes were saved!");
                        if(currentPassword !== ""){
                            window.location.replace('/login');
                        }else{
                            window.location.replace('/userHome');
                        }
                    }
                }
            });
        }
    }

    function verifyemail(){
        for (let i =0; i< newusername.length; i++){
            console.log(document.getElementById("username").value);
            console.log(newusername[i].username);
            if(document.getElementById("username").value === newusername[i].username && document.getElementById("username").value !== UserName){
                document.getElementById("emailc").innerHTML = "This user name already exists!";
                break;
            } else if(document.getElementById("username").value === UserName) {
                document.getElementById("emailc").innerHTML = "";
            }  else{
                document.getElementById("emailc").innerHTML = "The user name will not change until you verify the new username in your email.";
            }
        }
        // document.getElementById("emailc").innerHTML = "The User Name will not change until you verify the new username in your email.";
    }

    function SearchUsername(value) {
        $.ajax({
            url: "SearchUsername",
            method: 'GET',
            dataType: "json",
            success: function (results) {
                for (let i = 0; i < results.length; i++) {
                    // let newRes = JSON.stringify(results);
                    console.log(value);
                    console.log(results[i].username);
                    if (value === results[i].username && value !== UserName) {
                        alert("This username is already taken. Please use a different one.");
                        document.getElementById("emailUser").innerHTML = "This username is already taken. Please use a different one.";
                        document.getElementById("submit").disabled = true;
                        document.getElementById("submit").classList.remove("button1");
                        document.getElementById("submit").classList.add("button2");
                        break;
                    } else {
                        document.getElementById("emailUser").innerHTML = "";
                        document.getElementById("submit").disabled = false;
                        document.getElementById("submit").classList.add("button1");
                        document.getElementById("submit").classList.remove("button2");
                    }
                }
            }
        });
        verifyemail();
    }

    function isInputNumber (evt) {
        let char = String.fromCharCode(evt.which);

        if(!(/[0-9]/.test(char))) {
            evt.preventDefault();
        }
    }

    grecaptcha.ready(function() {
        grecaptcha.execute('6Ld7fq8UAAAAAOv8ZEiVj6P972pR_Vf3ko5R0JB_', {action: '/userProfile'}).then(function (token) {
            console.log(token);
            document.getElementById("token").value = token;
        });
    });

    grecaptcha.ready(function() {
        grecaptcha.execute('6Ld7fq8UAAAAAOv8ZEiVj6P972pR_Vf3ko5R0JB_', {action: '/checkpassword'}).then(function (token) {
            console.log(token);
            document.getElementById("token").value = token;
        });
    });

    function onFunction() {
        alert ("You are now online.");
    }

    function offFunction() {
        alert ("Your are offline. Some functionality may be unavailable.");
    }

</script>
</body>
</html>
